body {
    background-color: var(--bkg-color);
    background-image: url('star-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.window {
    background-color: var(--window-color);
    width: 500px;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    overflow: hidden;
}

.window-content {
    padding: 20px;
}

.window-header {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 6px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.pink {background-color: #ff6ec7;}
.yellow {background-color: #ffd700;}
.green {background-color: #00ff00;}

.title {
    font-weight: bold;
}

.closebutton {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #808080;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.25);
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 1000;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

p {
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
}

h1 {
    padding: 4px;
    margin: 4px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

#desktopApps {
    position: absolute;
    display: flex;
    top: 80px;
}

.app-icon {
    text-align: center;
    width: fit-content;
    cursor: pointer;
}

.app-icon img {
    width: 64px;
    height: 64px;
    border-radius: 12px;
}

.app-icon p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.theme-toggle {
    width: 2rem;
    height: 2rem;
    margin-top: 10px;
    background: transparent;
}

.theme-toggle img {
    width: 20px;
    height: 20px;
}

:root {
    --bkg-color: #4682b4;
    --window-color: white;
}

.dark-mode {
    --bkg-color: #4682B4;
    --window-color: #b77bb4;
}